service logd /system/bin/logd
    socket logd stream 0666 radio logd
    socket logdr seq 0666 main system
    socket logdw dgram 0700 logd root
    group root system readproc
    pid /dev/cpuset/system-background/tasks

service logd /system/bin/logd --reinit
    oneshot
    enabled
    writel /dev/cpuset/system-background/tasks
